.site-footer{
    background:var(--bg-color);
    padding:0 142px 100px 142px;
    font-weight: 400;
}
.footer-inner{
  display:flex;
  gap:30px;
  align-items:flex-start;
  flex-direction: column;
  div {
    color:var(--accent-green)
  }
}
.footer__contacts {
    display: flex;
    justify-content:space-evenly;
}
.contacts {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content:space-evenly;
    gap: 40px;
}
.legal {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding-right: 60px;
    gap: 60px;
}
.legal__link {
    color:var(--accent-green);
}
.footer__line {
    width: 100%;
    height: 2px;
    background-color:var(--muted-white-29);
    border-radius: 25px;
}
.footer-email {
    color:var(--accent-green);
}

/*=================================================================*/

@media (max-width: 1279px) {
  .site-footer {
    padding: 0 60px 60px 60px;
  }
  .footer__contacts {
    flex-direction: column;
    gap: 30px;
  }
  .legal {
    padding-right: 0;
    justify-content: center;
  }
}

@media (max-width: 767px) {
  .site-footer {
    padding: 0 20px 40px 20px;
  }
  .footer__contacts {
    gap: 20px;
  }
  .contacts__title,
  .addresses h4,
  .socials h4 {
    font-size: 20px;
  }
  strong, li, a, p {
    font-size: 16px;
  }
  .legal {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  .legal__link {
    font-size: 18px;
  }
}