:root{
--font-main: "Inter", "Inter-Bold", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
--bg-black: rgb(0, 0, 0);
--bg-white: rgb(255,255,255);
--bg-color: rgb(19,45,70,50%);

--accent-green: rgb(133,196,149);
--muted-white: rgb(250,249,244);
--muted-white-50: rgb(250,249,244,50%);
--muted-white-29: rgb(250,249,244,29%);
--deep-blue: rgb(19,45,70);
--blue-to-gray: rgb(19,45,70);
--deep-blue-80: rgb(19,45,70,80%);

--true-blue: rgb(19,45,70);

--shadow-strong: 0 10px 4px rgba(0,0,0,0.25);
--shadow-low: 0 4px 4px rgba(0,0,0,0.25);

--theme-color: rgb(255, 255, 255);
}

/*===================================================================================================================*/

[data-theme="light"] {
--bg-black: rgb(250,249,244);
--bg-white: rgb(19,45,70);
--bg-color: rgb(19,45,70,0.5);

--accent-green: rgb(19,45,70);
--muted-white: rgb(19,45,70,80%);
--muted-white-50: rgb(19,45,70,80%);
--muted-white-29: rgb(250,249,244,29%);
--deep-blue: rgb(250,249,244);
--blue-to-gray: rgb(250,249,244,29%);
--deep-blue-80: rgb(250,249,244);

--true-blue: rgb(19,45,70);

--shadow-strong: 0 10px 4px rgba(19,45,70,0.25);
--shadow-low: 0 4px 4px rgba(19,45,70,0.25);

--theme-color: rgb(0, 0, 0);
}

/*===================================================================================================================*/

/* плавная смена темы */
* {
    transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
}

/* элементы с мнгновенными переходами */
.brand,
.brand *,
.theme-toggle,
.theme-toggle *,
img,
.hero-background__image {
    transition: none !important;
}