.container{
    max-width:100%;
    padding: 0 142px;
}
@media (max-width: 1279px) {
  .container {
    padding: 0 60px;
  }
}
@media (max-width: 767px) {
  .container {
    padding: 0 60px;
  }
}