<footer class="site-footer">
    <div class="footer-inner">

      <div class="contacts">
        <div class="footer__line"></div>
        <div class="footer__contacts">
          <div class="contact">
            <h4 class="contacts__title">Контакты:</h4>
            <ul>
              <li class="contacts__phone"><strong>телефон:</strong> +7 (800) 555-35-35</li>
              <li class="contacts__email"><strong>почта:</strong> <a class="footer-email" href="mailto:KupiHub@gmail.com">KupiHub@gmail.com</a></li>
            </ul>
          </div>
          
          <div class="addresses">
            <h4>Адреса офисов:</h4>
            <ul>
              <li>улица Гвардейцев, 18, Нижний Новгород, 603157</li>
              <li>Московское шоссе, 1, Нижний Новгород, 603116</li>
              <li>Кремль, 1А, Нижний Новгород</li>
            </ul>
            <p>график работы: Ежедневно с 10:00 до 19:00</p>
          </div>

          <div class="socials">
            <h4>Мы в соцсетях:</h4>
            <ul>
              <li>Instagram</li>
              <li>VKontakte</li>
              <li>Telegram</li>
              <li>YouTube</li>
            </ul>
          </div>
        </div>
        <div class="footer__line"></div>
      </div>

      <div class="legal">
        <a href="#" class="legal__link">Договор-оферта</a>
        <a href="#" class="legal__link">Политика конфиденциальности</a>
      </div>

    </div>
</footer>