<header class="site-header">
  <div class="container header-inner">
    <div class="brand">
      <a href="index.html"><img src="../assets/images/infotok.webp" alt="Логотип ИНФОТОК" class="brand__logo" /></a>
      <span class="brand__title">ИНФОТОК</span>
    </div>

    <button class="burger-menu" aria-label="Открыть меню">
      <span></span>
      <span></span>
      <span></span>
    </button>

    <nav class="header-nav" aria-label="Главное меню">
      <ul class="header-nav__list">
        <li><a href="replenishment.html" class="header-nav__item">Пополнение steam</a></li>
        <li><a href="#" class="header-nav__item">Игровая валюта</a></li>
        <li><a href="#" class="header-nav__item">Покупай ключи</a></li>
        <li><a href="#" class="header-nav__item">Оформляй подписки</a></li>
      </ul>
    </nav>

    <div class="header-buttons">
      <a href="connection.html"><img src="../assets/images/user.webp" alt="личный кабинет" class="header__user" /></a>
      <button class="theme-toggle" aria-label="Переключить тему">
        <div class="theme-toggle__circle"></div>
      </button>
    </div>
  </div>
</header>



<script src="js/header.js"></script>