<main class="site-main">

  <div class="hero-background">
    <img src="assets/images/gamepad-black.webp" data-dark="assets/images/gamepad-black.webp"
      data-light="assets/images/gamepad-light.webp" alt="Игровой фон" class="hero-background__image">
  </div>

  <h1 class="hero__prom">Самые выгодные пополнения через ИНФОТОК</h1>

  <div class="main-container">
    <!-- Пополнение стима -->
    <section class="main-hero__container" aria-labelledby="hero-title">
      <div class="main-section-frame">
        <h2 class="hero__subtitle">Пополнение Steam с минимальной комиссией</h2>
        <form class="steam-topup" action="#" method="post" aria-label="Форма пополнения Steam">

          <label class="field field--with-icon">
            <input class="field__input" type="text" maxlength="32" name="steam_login" placeholder="Логин Steam" />
            <div class="field__icon">
              <a href="/index.html">
                <img class="question__mini-icon" src="assets/images/question.webp"
                  data-dark="assets/images/question.webp" data-light="assets/images/question-light.webp"
                  alt="Подсказка">
              </a>
            </div>
          </label>

          <label class="field field--with-currency">
            <input class="field__input" type="text" pattern="[0-9]*" minlength="3" inputmode="numeric" name="amount"
              placeholder="Сумма пополнения" />
            <a href="/index.html">
              <div class="field__currency">RUB</div>
            </a>
          </label>

          <button href="/index.html" class="btn--primary" type="submit">Пополнить</button>
        </form>
      </div>
    </section>

    <!-- Игровая валюта -->
    <section class="main-currency__container" aria-labelledby="currency-title">
      <div class="main-section-frame">
        <div class="frame-head">
          <h2 id="currency-title">Игровая валюта</h2>
          <div class="nav-buttons">
            <button class="nav-button left__button">
              <img src="assets/images/vector-left.webp" alt="Кнопка 'влево'">
            </button>
            <button class="nav-button right__button">
              <img src="assets/images/vector-right.webp" alt="Кнопка 'вправо'">
            </button>
          </div>
        </div>
        <div class="currency__grid">
          <article class="game-card">
            <a draggable="false" href="game-page.html" class="game-card__image"><img
                src="assets/images/GameCard (0).webp"></a>
            <h3 class="game-card__title">Fortnite</h3>
          </article>

          <article class="game-card">
            <a draggable="false" href="game-page.html" class="game-card__image"><img
                src="assets/images/GameCard (1).webp"></a>
            <h3 class="game-card__title">Dead by Daylight</h3>
          </article>

          <article class="game-card">
            <a draggable="false" href="game-page.html" class="game-card__image"><img
                src="assets/images/GameCard (2).webp"></a>
            <h3 class="game-card__title">Path of Exile 2</h3>
          </article>

          <article class="game-card">
            <a draggable="false" href="game-page.html" class="game-card__image"><img
                src="assets/images/GameCard (3).webp"></a>
            <h3 class="game-card__title">Marvel Rivals</h3>
          </article>

          <article class="game-card">
            <a draggable="false" href="game-page.html" class="game-card__image"><img
                src="assets/images/GameCard (4).webp"></a>
            <h3 class="game-card__title">Path of Exile</h3>
          </article>

          <article class="game-card">
            <a draggable="false" href="game-page.html" class="game-card__image"><img
                src="assets/images/GameCard (5).webp"></a>
            <h3 class="game-card__title">PUBG Battlegrounds</h3>
          </article>

          <article class="game-card">
            <a draggable="false" href="game-page.html" class="game-card__image"><img
                src="assets/images/GameCard (0).webp"></a>
            <h3 class="game-card__title">Fortnite</h3>
          </article>

          <article class="game-card">
            <a draggable="false" href="game-page.html" class="game-card__image"><img
                src="assets/images/GameCard (1).webp"></a>
            <h3 class="game-card__title">Dead by Daylight</h3>
          </article>

          <article class="game-card">
            <a draggable="false" href="game-page.html" class="game-card__image"><img
                src="assets/images/GameCard (2).webp"></a>
            <h3 class="game-card__title">Path of Exile 2</h3>
          </article>

          <article class="game-card">
            <a draggable="false" href="game-page.html" class="game-card__image"><img
                src="assets/images/GameCard (3).webp"></a>
            <h3 class="game-card__title">Marvel Rivals</h3>
          </article>

          <article class="game-card">
            <a draggable="false" href="game-page.html" class="game-card__image"><img
                src="assets/images/GameCard (4).webp"></a>
            <h3 class="game-card__title">Path of Exile</h3>
          </article>

          <article class="game-card">
            <a draggable="false" href="game-page.html" class="game-card__image"><img
                src="assets/images/GameCard (5).webp"></a>
            <h3 class="game-card__title">PUBG Battlegrounds</h3>
          </article>
        </div>
      </div>
    </section>

    <!-- Покупка игр -->
    <section class="main-games__container" aria-labelledby="games-title">
      <div class="main-section-frame">
        <div class="frame-head">
          <h2 id="currency-title">Покупка игр</h2>
          <div class="nav-buttons">
            <button class="nav-button left__button">
              <img src="assets/images/vector-left.webp" alt="Кнопка 'влево'">
            </button>
            <button class="nav-button right__button">
              <img src="assets/images/vector-right.webp" alt="Кнопка 'вправо'">
            </button>
          </div>
        </div>
        <div class="games__grid">
          <article class="game-entry">
            <a draggable="false" href="game-page.html" class="game-entry__image"><img
                src="assets/images/GameCard (6).webp"></a>
            <h3 class="game-entry__title">Dead by Daylight</h3>
          </article>

          <article class="game-entry">
            <a draggable="false" href="game-page.html" class="game-entry__image"><img
                src="assets/images/GameCard (7).webp"></a>
            <h3 class="game-entry__title">Ведьмак 3: Дикая Охота</h3>
          </article>

          <article class="game-entry">
            <a draggable="false" href="game-page.html" class="game-entry__image"><img
                src="assets/images/GameCard (8).webp"></a>
            <h3 class="game-entry__title">Red Dead Redemption 2</h3>
          </article>

          <article class="game-entry">
            <a draggable="false" href="game-page.html" class="game-entry__image"><img
                src="assets/images/GameCard (9).webp"></a>
            <h3 class="game-entry__title">Kingdom Come: Deliverance</h3>
          </article>

          <article class="game-entry">
            <a draggable="false" href="game-page.html" class="game-entry__image"><img
                src="assets/images/GameCard (10).webp"></a>
            <h3 class="game-entry__title">DARK SOULS™: REMASTERED</h3>
          </article>

          <article class="game-entry">
            <a draggable="false" href="game-page.html" class="game-entry__image"><img
                src="assets/images/GameCard (6).webp"></a>
            <h3 class="game-entry__title">Dead by Daylight</h3>
          </article>

          <article class="game-entry">
            <a draggable="false" href="game-page.html" class="game-entry__image"><img
                src="assets/images/GameCard (7).webp"></a>
            <h3 class="game-entry__title">Ведьмак 3: Дикая Охота</h3>
          </article>

          <article class="game-entry">
            <a draggable="false" href="game-page.html" class="game-entry__image"><img
                src="assets/images/GameCard (8).webp"></a>
            <h3 class="game-entry__title">Red Dead Redemption 2</h3>
          </article>

          <article class="game-entry">
            <a draggable="false" href="game-page.html" class="game-entry__image"><img
                src="assets/images/GameCard (9).webp"></a>
            <h3 class="game-entry__title">Kingdom Come: Deliverance</h3>
          </article>

          <article class="game-entry">
            <a draggable="false" href="game-page.html" class="game-entry__image"><img
                src="assets/images/GameCard (10).webp"></a>
            <h3 class="game-entry__title">DARK SOULS™: REMASTERED</h3>
          </article>
        </div>
      </div>
    </section>

    <!-- Подписки -->
    <section class="main-subscriptions__container">
      <div class="main-section-frame">
        <div class="frame-head">
          <h2 id="currency-title">Подписки</h2>
          <div class="nav-buttons">
            <button class="nav-button left__button">
              <img src="assets/images/vector-left.webp" alt="Кнопка 'влево'">
            </button>
            <button class="nav-button right__button">
              <img src="assets/images/vector-right.webp" alt="Кнопка 'вправо'">
            </button>
          </div>
        </div>
        <div class="subscriptions__grid">
          <div class="subscription">
            <a draggable="false" href="game-page.html" class="subscription__icon"><img
                src="assets/images/GameCard (11).webp"></a>
            <h3 class="subscription__title">ChatGPT</h3>
          </div>

          <div class="subscription">
            <a draggable="false" href="game-page.html" class="subscription__icon"><img
                src="assets/images/GameCard (12).webp"></a>
            <h3 class="subscription__title">Discord</h3>
          </div>

          <div class="subscription">
            <a draggable="false" href="game-page.html" class="subscription__icon"><img
                src="assets/images/GameCard (13).webp"></a>
            <h3 class="subscription__title">Xbox</h3>
          </div>

          <div class="subscription">
            <a draggable="false" href="game-page.html" class="subscription__icon"><img
                src="assets/images/GameCard (14).webp"></a>
            <h3 class="subscription__title">PS Games</h3>
          </div>

          <div class="subscription">
            <a draggable="false" href="game-page.html" class="subscription__icon"><img
                src="assets/images/GameCard (15).webp"></a>
            <h3 class="subscription__title">Epic Games</h3>
          </div>

          <div class="subscription">
            <a draggable="false" href="game-page.html" class="subscription__icon"><img
                src="assets/images/GameCard (16).webp"></a>
            <h3 class="subscription__title">YouTube</h3>
          </div>

          <div class="subscription">
            <a draggable="false" href="game-page.html" class="subscription__icon"><img
                src="assets/images/GameCard (11).webp"></a>
            <h3 class="subscription__title">ChatGPT</h3>
          </div>

          <div class="subscription">
            <a draggable="false" href="game-page.html" class="subscription__icon"><img
                src="assets/images/GameCard (12).webp"></a>
            <h3 class="subscription__title">Discord</h3>
          </div>

          <div class="subscription">
            <a draggable="false" href="game-page.html" class="subscription__icon"><img
                src="assets/images/GameCard (13).webp"></a>
            <h3 class="subscription__title">Xbox</h3>
          </div>

          <div class="subscription">
            <a draggable="false" href="game-page.html" class="subscription__icon"><img
                src="assets/images/GameCard (14).webp"></a>
            <h3 class="subscription__title">PS Games</h3>
          </div>

          <div class="subscription">
            <a draggable="false" href="game-page.html" class="subscription__icon"><img
                src="assets/images/GameCard (15).webp"></a>
            <h3 class="subscription__title">Epic Games</h3>
          </div>

          <div class="subscription">
            <a draggable="false" href="game-page.html" class="subscription__icon"><img
                src="assets/images/GameCard (16).webp"></a>
            <h3 class="subscription__title">YouTube</h3>
          </div>
        </div>
      </div>
    </section>
  </div>

  <h2 class="reviews__prom">Отзывы клиентов ИНФОТОК</h2>

  <!-- Отзывы -->
  <section class="main-reviews__container">

    <div class="reviews__list">
      <article class="review">
        <div class="review__rating">★★★★☆</div>
        <p class="review__text">
          Все устроило.<br>Понадобилась срочно подписка на Spotify Premium. Нашел тут, купил. Пришло быстро,
          активировал.
          Работает уже второй месяц, все хорошо. Цена средняя по рынку. В принципе, никаких нареканий нет, но и восторга
          особого нет — сервис просто делает то, что должен. А это уже хорошо.
        </p>
        <div class="review__author">Аноним</div>
      </article>

      <article class="review">
        <div class="review__rating">★★★★☆</div>
        <p class="review__text">
          Хороший сервис, но была маленькая задержка.<br>Покупал подписку на месяц для Xbox Game Pass. Цена приятно
          удивила,
          дешевле, чем везде. После оплаты ключ пришел не сразу, а минут через 15. Немного поволновался, но техподдержка
          быстро ответила, сказали, что это автоматическая проверка платежа. В итоге все получил и активировал. Минус
          звезда
          за легкий стресс, но в целом все ок.
        </p>
        <div class="review__author">Дмитрий, Санкт-Петербург</div>
      </article>

      <article class="review">
        <div class="review__rating">★★★★★</div>
        <p class="review__text">
          Наконец-то нашел адекватный магазин!<br>Ребята, это просто спасение! До этого пытался купить пополнение
          баланса
          Steam в другом месте — в итоге потерял время и нервы. Здесь же все четко: выбрал сумму, оплатил картой, через
          2
          минуты на счете стима были деньги. Никаких скрытых комиссий, все прозрачно. Теперь только сюда.
        </p>
        <div class="review__author">Артем, Екатеринбург</div>
      </article>

      <article class="review">
        <div class="review__rating">★★★★★</div>
        <p class="review__text">
          Быстро и без проблем!<br> Покупал ключ для Steam. Оплатил с телефона, ключ пришел в личный кабинет и на почту
          буквально
          через минуту. Активировался без нареканий. Рекомендую!
        </p>
        <div class="review__author">Иван, Москва</div>
      </article>
    </div>
  </section>
</main>